@media all and (max-width:768px)  {
    @import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
    /*HIDING DESKTOP AND TABLET VIEWS*/
    
    .mobileNavStyle{
        display: none;
    }

    .container{
        display: none;
    }

    .section2{
        display: none;
    }

    .skillsSection{
        display: none;
    }

   

    :root{

        --main: rgb(22, 21, 22);
        --primary:  orange;
        --subtle: rgb(32, 97, 97)e;
        --font:'Fjalla One', sans-serif;
       
    }

    body{
        width: 100%;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        background: var(--main);
    }

    .mobile-toggle-menu-container{

        width: 100%;
        height: 10vh;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        background-color: rgba(0, 0, 0, 0.664);
        backdrop-filter: blur(5px);
        z-index: 2;
        position: fixed;
        top: 0;
        left: 0;
        box-shadow: 1px 1px 3px var(--primary);
        padding: 10px;
    }

    
    .mobile-toggle-menu-container .mobile-toggle-menu{
        width: 35%;
        height: 60%;
        display: flex;
        align-items: center;
        color: rgb(255, 255, 255);
        font-weight: bold;
     
       
    }
    .mobile-toggle-menu-container .nav-spacer{
        width: 40%;
        height: 100%;
       
    }

    .mobile-toggle-menu-container img{
        width: 25%;
    }
  

    .mobile-nav{
        width: 100%;
        height: 50vh;
        background-color: rgba(0, 0, 0, 0.493);
        backdrop-filter: blur(10px);
        border-radius: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        left: 0;
        top: -100%;
        transition: top ease-in-out 2s;
        z-index: 3;
    }

    .mobile-nav ul{
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 90%;
        height:90%;
        list-style: none;
    }

    .mobile-nav ul li {
        position: relative;
        width: 100%;
        height: 25%;
    }
    .mobile-nav ul li a{
        text-decoration: none;
        color: var(--primary);
    }

    .mobile-close-nav{
        width: 100%;
        height: 10%;
        color:white;
        font-size: 1.5rem;
    }
    .mobile-section1{
        width: 100%;
        height: 93vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        border: solid 1px red;
    }
 
    .mobile-section1 .jobTitle{
        height: 25vh;
        width: 100%;
        font-weight: bold;
        color: white;
        font-family: var(--font);
        font-size: 3rem;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;
        padding: 10px;
    }

    .spacerOne{
        width: 100%;
        height: 20vh;
    }

    .mobile-buttonCont{
        width: 100%;
        height: 20vh;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 3%;
        padding-left:10px;
    }

    .mobile-buttonCont button{
       height: 7.5vh;
       background: var(--primary);
       border: none;
       color: white;
       width: 50%;
       padding: 5px;
       font-size: 12px;
       font-weight: bold;
       border-radius: 3px;
    }

    .mobile-buttonCont ion-icon{
        height: 2.5vh;
        border: none;
        color: white;
        width: 10%;
        padding: 2.5px;
        font-size: 12px;
        font-weight: bold;
        border-radius: 3px;
     }
    

     .mobile-section2{
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        border: solid green 1px;
        padding: 10px;
    }

    .mobile-section2 h1{

        color: white;
        width: 100%;
        height: 10vh;
        font-size: 1.5rem;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 10px;
        font-family: var(--font);
    }

    
    .mobile-section2 p{
        color: var(--primary);
        width: 100%;
        height: 10vh;
        font-size: 0.8rem;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: flex-start;
        font-family: var(--font);
        padding: 10px;
    }

    
    
}


    