@media all and (max-width:768px)  {
    @import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
    /*HIDING DESKTOP AND TABLET VIEWS*/
    
    .mobileNavStyle{
        display: none;
    }

    .container{
        display: none;
    }

    .section2{
        display: none;
    }

    .skillsSection{
        display: none;
    }

   

    :root{

        --main: rgb(22, 21, 22);
        --primary:  rgb(25, 78, 47);
        --subtle: rgb(32, 97, 97)e;
        --font:'Fjalla One', sans-serif;
       
    }

    body{
        width: 100%;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        gap: 10%;
        background: var(--main);
    }

    .mobile-toggle-menu-container{

        width: 100%;
        height: 10vh;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        z-index: 2;
        position: fixed;
        top: 0;
        left: 0;
        padding: 10px;
    }

    
    .mobile-toggle-menu-container .mobile-toggle-menu{
        width: 30%;
        height: 100%;
        display: flex;
        align-items: center;
        color: rgb(255, 255, 255);
        font-weight: bold;
     
       
    }
    .mobile-toggle-menu-container .nav-spacer{
        width: 70%;
        height: 100%;
       
    }

    .mobile-toggle-menu-container img{
        width: 25%;
    }
  

    .mobile-nav{
        width: 100%;
        height: 50vh;
        background-color: rgba(0, 0, 0, 0.493);
        backdrop-filter: blur(10px);
        border-radius: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: top ease-in-out 2s;
        position: absolute;
        top: -100%;
        z-index: 3;
        
    }

    .mobile-nav ul{
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 90%;
        height:90%;
        list-style: none;
    }

    .mobile-nav ul li {
        position: relative;
        width: 100%;
        height: 25%;
    }
    .mobile-nav ul li a{
        text-decoration: none;
        color: var(--primary);
    }

    .mobile-close-nav{
        width: 100%;
        height: 10%;
        color:white;
        font-size: 1.5rem;
    }
    .mobile-section1{
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        background-image: url('../images/me.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position:right;
        padding: 0;
    }
 
    .mobile-section1 .jobTitle{
        height: 25vh;
        width: 100%;
        font-weight: bold;
        color: white;
        font-family: var(--font);
        font-size: 3rem;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;
        font-style: italic;
        padding: 10px;
        animation: jobTitleFadeIn 1.5s 1 ease-in-out;
    }

    @keyframes jobTitleFadeIn {
        
        0%{
            opacity: 0;
            margin-bottom: -100%;
            transition: animation 2.5s ease-in-out;
        }
        50%{
            opacity: 0.2;
            transform: rotateX(90deg);
        }
    }

    .spacerOne{
        width: 100%;
        height: 15vh;
    }

    .mobile-buttonCont{
        width: 100%;
        height: 15vh;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 3%;
        padding-left:10px;
        background: var(--primary);
    }

    .mobile-buttonCont button{
       height: 7.5vh;
       background: var(--primary);
       box-shadow: 1px 1px 10px black;
       border: none;
       color: white;
       width: 50%;
       padding: 5px;
       font-size: 12px;
       font-weight: bold;
       border-radius: 3px;
       background-color: var(--main);
    }

    .mobile-buttonCont ion-icon{
        height: 2.5vh;
        border: none;
        color: rgb(255, 255, 255);
        width: 10%;
        padding: 2.5px;
        font-size: 12px;
        font-weight: bold;
        border-radius: 3px;
     }
    

     .mobile-section2{
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        padding: 10px;
    }

    .mobile-section2 h1{
        color: white;
        width: 100%;
        height: 10vh;
        font-size: 1.8rem;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 10px;
        font-family: var(--font);
    }    
    .mobile-section2 p{
        color: rgb(151, 151, 151);
        width: 100%;
        height: 10vh;
        font-size: 1rem;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: flex-start;
        font-family: var(--font);
        padding: 10px;
    }

    .mobile-section2 .section2-button{
        width: 100%;
        height: 10vh;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 10px;
    }

    .mobile-section2 .section2-button button{
       height: 7vh;
       width: 50%;
       background-color: var(--primary);
       border: none;
       color: white;
       font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
       font-weight: bold;
       border-radius: 6px;
        
    }

    .mobile-section2 .list{
       width: 100%;
       height:70vh ;
     }
     .mobile-section2 .list ul{
        width: 100%;
        height:70vh ;
        display: flex;
        flex-direction: column;
        list-style: none;
        padding: 10px;
        gap: 2%;
      }
      .mobile-section2 .list ul li{
        width: 100%;
        height:25%;
        display: flex;
        list-style: none;
        padding: 10px;
        background: rgba(17, 17, 17, 0.692);
        box-shadow: 1px 2px 10px black;
        border-radius: 12px;
      }

      .mobile-section2 .list ul li img{
     
        height:100%;
        padding: 10px;
      }

      .mobile-section2 .list ul li a{
     
        height:100%;
        flex: 1;
        text-decoration: none;
        color: white;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        
      }
      .mobile-section2 .list ul li span{
     
        height:100%;
        flex: 1;
        text-decoration: none;
        color: white;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        padding: 10px;
        text-align: center;
        font-size: 0.8rem;
        
      }

}